@use '@/styles/variables' as *;

.layout {
  min-height: 100vh;          
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  color: var(--color-text);
}

.main {
  flex: 1;                    
  display: flex;
  flex-direction: column;
}