/* ================================
   Thèmes via CSS variables
   ================================ */

/* Thème clair */
:root {
  /* Fond */
  --color-bg: #f5f6fb;
  --color-bg-alt: #ffffff;
  --color-surface: #ffffff;
  --color-surface-soft: #f3f4ff;

  /* Bordures */
  --color-border-subtle: #d9def5;
  --color-border-strong: #b6c0f0;

  /* Texte */
  --color-text: #111322;
  --color-text-muted: #5b6280;
  --color-text-soft: #8d92b0;

  /* Accent */
  --color-accent: #7b5cff;
  --color-accent-soft: rgba(123, 92, 255, 0.12);
  --color-accent-strong: #5f45d3;

  /* Statuts */
  --color-success-bg: #e0f7e9;
  --color-success-text: #117a3a;
  --color-warning-bg: #fff4d5;
  --color-warning-text: #a86a00;
  --color-danger-bg: #ffe5ea;
  --color-danger-text: #b00020;

  /* Layout / divers */
  --shadow-soft: 0 18px 45px rgba(15, 23, 42, 0.1);
  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-lg: 1.25rem;
  --transition-fast: 150ms ease-out;
  --transition-normal: 220ms ease-out;

  --nav-height: 56px;

  /* Select */
  --fmm-select-bg: #f9fafb;
  --fmm-select-fg: #020617;


  --fmm-badge-ranked-bg: #16a34a;
  --fmm-badge-ranked-fg: #f9fafb;   

  --fmm-badge-unranked-bg: #e5e7eb;
  --fmm-badge-unranked-fg: #020617;
}

/* Thème sombre */
[data-theme='dark'] {
  --color-bg: #050816;
  --color-bg-alt: #070a1f;
  --color-surface: #0b1024;
  --color-surface-soft: #101735;

  --color-border-subtle: rgba(255, 255, 255, 0.06);
  --color-border-strong: rgba(255, 255, 255, 0.12);

  --color-text: #f5f5ff;
  --color-text-muted: #bdc2ff;
  --color-text-soft: #888fce;

  --color-accent: #7b5cff;
  --color-accent-soft: rgba(123, 92, 255, 0.2);
  --color-accent-strong: #a58bff;

  --color-success-bg: rgba(34, 197, 94, 0.12);
  --color-success-text: #4ade80;
  --color-warning-bg: rgba(245, 158, 11, 0.12);
  --color-warning-text: #fbbf24;
  --color-danger-bg: rgba(248, 113, 113, 0.16);
  --color-danger-text: #fca5a5;

  --shadow-soft: 0 22px 50px rgba(0, 0, 0, 0.55);

  /* Select */
  --fmm-select-bg: #020617;
  --fmm-select-fg: #e5e7eb;

  /* Badges tickets */
  --fmm-badge-ranked-bg: #22c55e;
  --fmm-badge-ranked-fg: #022c22;

  --fmm-badge-unranked-bg: #0f172a;
  --fmm-badge-unranked-fg: #e5e7eb;
}

$color-bg: var(--color-bg);
$color-bg-alt: var(--color-bg-alt);
$color-surface: var(--color-surface);
$color-surface-soft: var(--color-surface-soft);

$color-border-subtle: var(--color-border-subtle);
$color-border-strong: var(--color-border-strong);

$color-text: var(--color-text);
$color-text-muted: var(--color-text-muted);
$color-text-soft: var(--color-text-soft);

$color-accent: var(--color-accent);
$color-accent-soft: var(--color-accent-soft);
$color-accent-strong: var(--color-accent-strong);

$shadow-soft: var(--shadow-soft);
$radius-sm: var(--radius-sm);
$radius-md: var(--radius-md);
$radius-lg: var(--radius-lg);

